<!-- Inner sidebar -->
<div class="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
        <li class="header"><i class="fa fa-map">&nbsp;&nbsp;我的世界</i></li>
      <!-- Optionally, you can add icons to the links -->
        <li><a href="/server_inst/dashboard"><i class="fa fa-dashboard"></i> 仪表盘</a></li>
        <!--<li><a href="/server_inst/console"><i class="fa fa-terminal"></i> 控制台</a></li>-->
        <!--<li><a href="/server_inst/ftp" ><i class="fa fa-code"></i> FTP设置</a></li>-->
        <!--<li><a href="/server_inst/config_file" ><i class="fa fa-code"></i> 配置文件</a></li>
        <li><a href="/server_inst/plugins"><i class="fa fa-plug"></i> 插件及Mod管理</a></li>-->
        <li><span>&nbsp;</span></li>

        <li class="header"><i class="fa fa-gear"></i>&nbsp;&nbsp;服务器设置</li>
        <li><a href="/super_admin/info"><i class="fa fa-info-circle"></i> 基本信息</a></li>
        <!--<li><a href="##"><i class="fa fa-user"></i> 账户管理</a></li>-->
        <li><a href="/super_admin/server_core"><i class="fa fa-photo"></i> 服务器核心</a></li>
        <li><a href="/super_admin/java_binary"><i class="fa fa-coffee"></i> Java版本管理</a></li>
        <!--<li><a href="/super_admin/file_backup"><i class="fa fa-database"></i> 文件备份</a></li>-->
        <li><a href="/super_admin/settings"><i class="fa fa-gear"></i> 设置</a></li>
    </ul><!-- /.sidebar-menu -->
</div>