{% extends "server_inst/_layout.html" %}
{% block title %}控制台{% endblock %}
{% block script %}
    <script src="/static/js/codemirror.js"></script>
    <link rel="stylesheet" href="/static/css/codemirror.css">
    <link rel="stylesheet" href="/static/css/dashboard.style.css">

    <script>
    var CURRENT_INSTANCE = {{ current_instance }};
    </script>

{% endblock %}
{% block content %}

<section class="mobile-header-bar">
    <span class="left-arrow"><!--<i class="ion-ios-arrow-left"></i>--></span>
    <span class="select_menu" id="select_menu" v-on:click="menu_toggle">
        <span class="text">{{ current_instance_name }}</span><i class="ion-arrow-down-b dropdown-mark " v-bind:class="{transform: markRotate}"></i>
            <div class="dropdown " v-bind:class="{expand: dropdownExpand}">
                <div class="padding"></div>
                {% for inst_item in user_list %}
                <a href="{{ inst_item.link }}">{{ inst_item.inst_name }}</a>
                {% endfor %}

                <div class="padding"></div>
            </div>

    </span>
    <span class="right-arrow"><!--<i class="ion-ios-arrow-right"></i>-->
    </span>
</section>
    <section class="content">
        <div id="inst_ctrl">
            <div class="inst-sel-bar">
                <div class="inst-sel">
                    <div style="margin-bottom:1rem;"><b>实例列表</b></div>
                    {% for inst_item in user_list %}
                        <div>
                            <span class="star">
                                {% if inst_item.star %}
                                    <i class="ion-android-star"></i>
                                {% else %}
                                    <i class="ion-android-star-outline"></i>
                                {% endif %}
                            </span>
                            <a href="{{ inst_item.link }}" class="{% if inst_item.inst_id ==current_instance %}selected{% endif %}">{{ inst_item.inst_name }}</a>
                        </div>
                    {% endfor %}
                <!--new instance-->
                    <hr>
                </div>
            </div>
        </div>

    <div class="inst-content">
        <div class="row">
            <div class="col-xs-8">
                <textarea name="" id="console" cols="30" rows="10"></textarea>

                <input type="text" id="in">
                <button class="btn-raised" id="input">输入</button>
            </div>
        </div>
    </div>
    </section>
{% endblock %}
<!--import jquery upload file js lib -->
