{% extends "server_inst/_layout.html" %}
{% block content %}
    <script src="/static/js/codemirror.js"></script>
    <link rel="stylesheet" href="/static/css/codemirror.css">
    <section class="content-header">
        <br>
        <h1>控制台</h1>
        <div>
            <span class="instruction">
                控制当前运行的 Minecraft 服务。
            </span>
        </div>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-8">
                <textarea name="" id="console" cols="30" rows="10"></textarea>

                <input type="text" id="in">
                <button class="btn-raised" id="input">输入</button>
            </div>
        </div>
    </section>
{% endblock %}
<!--import jquery upload file js lib -->
