{% extends "server_inst/_layout.html" %}
{% block content %}
    <section class="content-header">
        <br>
        <h1>仪表盘</h1>
        <div>
            <span class="instruction">
                控制当前运行的 Minecraft 服务。
            </span>
        </div>
    </section>

    <section class="content">
        <div class="col-xs-3">
            <div>
                <div class="info-box"><span class="info-box-icon bg-aqua">
                    <i class="ion ion-ios-gear-outline"></i>
                </span>
                    <div class="info-box-content">
                        <span class="info-box-text">工作状态</span>
                        <span class="info-box-number">WORK</span>
                        <span class="control-btn">
                            <button class="btn btn-xs btn-default">
                                <i class="ion ion-play"></i>
                            </button> &nbsp;
                            <button class="btn btn-xs btn-default">
                                <i class="ion ion-stop"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div>
                <div class="info-box"><span class="info-box-icon bg-green">
                    <i class="ion ion-ios-people-outline"></i>
                </span>
                    <div class="info-box-content">
                        <span class="info-box-text">在线用户</span>
                        <span class="info-box-number"> 0 / 40</span>
                    </div>
                </div>
            </div>
            <div>
                <div class="info-box"><span class="info-box-icon bg-yellow">
                    <i class="ion ion-ios-list-outline"></i>
                </span>
                    <div class="info-box-content">
                        <span class="info-box-text">内存消耗</span>
                        <span class="info-box-number"> 256 M / 1024 M</span>
                    </div>
                </div>
            </div>
        </div>

    <div class="col-xs-4">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">控制掣</h3>

                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" type="button" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">

            </div>
        </div>
    </div>
    </section>
{% endblock %}
<!--import jquery upload file js lib -->
