{% extends "server_inst/_layout.html" %}
{% block title %}仪表盘{% endblock %}
{% block script %}
    <script src="/static/js/vivus.min.js"></script>
    <script>
    var CURRENT_INSTANCE = {{ current_instance }};
    </script>
{% endblock %}
{% block content %}
    <section class="mobile-header-bar">
        <span class="left-arrow"><!--<i class="ion-ios-arrow-left"></i>--></span>
        <span class="select_menu">
            <span class="text">{{ current_instance_name }}</span><i class="ion-arrow-down-b dropdown-mark"></i>
                <div class="dropdown">
                    {% for inst_item in user_list %}
                    <a href="{{ inst_item.link }}">{{ inst_item.inst_name }}</a>
                    {% endfor %}

                    <a href="/server_inst/new_inst"><i class="ion-plus"></i> <span class="new_inst_txt">新的世界</span></a>
                </div>

        </span>
        <span class="right-arrow"><!--<i class="ion-ios-arrow-right">--></i>
        </span>
    </section>

    <section class="content">
        <div class="inst-sel-bar">
            <div class="inst-sel">
                <div style="margin-bottom:1rem;"><b>实例列表</b></div>
                {% for inst_item in user_list %}
                    <div>
                        <span class="star">
                            {% if inst_item.star %}
                                <i class="ion-android-star"></i>
                            {% else %}
                                <i class="ion-android-star-outline"></i>
                            {% endif %}
                        </span>
                        <a href="{{ inst_item.link }}" class="{% if inst_item.inst_id ==current_instance %}selected{% endif %}">{{ inst_item.inst_name }}</a>
                    </div>
                {% endfor %}
            <!--new instance-->
                <div>
                    <span class="star"> </span>
                    <a href="/server_inst/new_inst"><i class="ion-plus"></i> <span class="new_inst_txt">新的世界</span></a>
                </div>
                <!--<a href="/server_inst/dashboard/2" class="selected">Hello World</a>
                <a href="/server_inst/dashboard/3">Hello World你委好</a>-->
                <hr>
                <div style="margin-top:1.5rem;margin-bottom:1rem;"><b>控制掣</b></div>
                <button class="btn btn-primary">停止</button>
                <button class="btn btn-danger">重新启动</button>
            </div>
        </div>

        <div class="inst-content">
            <!-- first row (with instance status and instance info)-->
            <!-- second row (with login users and graph (still under consideration))-->
            <div class="row">
                <div class="col-md-6">

                    <ul class="progress"><li id="progress-status">
                        <div class="pg-title" style="color: #27b427;">运行状态</div>
                        <!--<div class="pg-main">
                            <svg id="status-svg" viewBox="-10 -10 220 220">
                                <path d="M 184 100 A 84 84 0 1 1 142 27.25386608210715" stroke-width="3" stroke="blue"></path>
                                <path d="M 60 90 L 100 135 L 200 20 " stroke-width="3" stroke="blue"></path>
                            </svg>
                        </div>-->
                        <!--<div class="pg-main">
                            <svg id="stop" viewBox="-10 -10 220 220">
                                <path d="M 184 100 A 84 84 0 1 1 184 99" stroke-width="3" stroke="blue"></path>
                                <path d="M 50 100 L 150 100" stroke="blue" stroke-width="3"></path>
                            </svg>
                        </div>-->
                        <div class="pg-main">
                            <svg id="stop" viewBox="-10 -10 220 220">
                                <circle r="85" cx="100" cy="100" stroke="#27b427" stroke-width="3"></circle>
                                <circle r="15" cx="50" cy="100" stroke="#27b427" stroke-width="3"></circle>
                                <circle r="15" cx="100" cy="100" stroke="#27b427" stroke-width="3"></circle>
                                <circle r="15" cx="150" cy="100" stroke="#27b427" stroke-width="3"></circle>
                            </svg>

                            <svg id="stop-rev" viewBox="-10 -10 220 220">
                                <circle r="85" cx="100" cy="100" stroke="#ecf0f5" stroke-width="6"></circle>
                                <circle r="15" cx="50" cy="100" stroke="#ecf0f5" stroke-width="6"></circle>
                                <circle r="15" cx="100" cy="100" stroke="#ecf0f5" stroke-width="6"></circle>
                                <circle r="15" cx="150" cy="100" stroke="#ecf0f5" stroke-width="6"></circle>
                            </svg>
                        </div>

                        <div class="pg-info">
                            运行中
                        </div>

                    </li><li id="progress-online-users">
                        <div class="pg-title" style="color: blue;">在线用户</div>
                        <div class="pg-main">
                            <svg id="online-users-svg" viewBox="-10 -10 220 220">
                                <path d="" stroke="blue" stroke-width="15" stroke-dashoffset="0"></path>
                            </svg>

                            <div id="online-num" class="central-number">8</div>
                            <div id="divider" class="central-number">／</div>
                            <div id="total-num" class="central-number">20</div>
                        </div>

                        <div class="pg-info">
                            <span class="hint-text">在线人数： </span><span class="em_2_text">8</span>
                        </div>

                        <div class="pg-info">
                            <span class="hint-text">最大容量： </span><span class="em_2_text">20</span>
                        </div>
                    </li><li id="progress-RAM-usage">
                        <div class="pg-title" style="color: #ff4f38;">RAM 消耗</div>
                        <div class="pg-main">
                            <svg id="RAM-usage-svg" viewBox="-10 -10 220 220">
                                <path d="" stroke="#ff4f38" stroke-width="15" stroke-dashoffset="0"></path>
                            </svg>

                            <div id="RAM-percent">30</div>
                            <div id="RAM-percent-mark">%</div>
                        </div>

                        <div class="pg-info">
                            <span class="hint-text">已用内存： </span><span>1023.4 M</span>
                        </div>

                        <div class="pg-info">
                            <span class="hint-text">最大内存： </span><span>2048.0 M</span>
                        </div>
                    </li>
                        <!--  Item  -->
                    </ul>
                </div>

                <div class="col-md-6">
                    <div class="box box-solid">
                        <div class="box-header with-border">
                            <i class="fa fa-warning"></i>
                            <h3 class="box-title">Alerts2 杨神好</h3>
                        </div>
                        <div class="box-body">
                            He2
                        </div>
                  </div>
                </div>
            </div>
        </div>
    </section>
    <script>
    function myCallback() {
        console.log("hello")
    }

    function polarToCartesian(centerX, centerY, radius, angleInDegrees) {
      var angleInRadians = (angleInDegrees-90) * Math.PI / 180.0;

      return {
        x: centerX + (radius * Math.cos(angleInRadians)),
        y: centerY + (radius * Math.sin(angleInRadians))
      };
    }

    function describeArc(x, y, radius, startAngle, endAngle){

        var end = polarToCartesian(x, y, radius, endAngle);
        var start = polarToCartesian(x, y, radius, startAngle);

        var largeArcFlag = endAngle - startAngle <= 180 ? "0" : "1";

        var d = [
            "M", start.x, start.y,
            "A", radius, radius, 0, largeArcFlag, 1, end.x, end.y
        ].join(" ");

        return d;
    }

    var wa = {};
    var re = {};
    function trig_rev() {
        setTimeout(function () {
            tr.play();
        },400)

    }

    function trig_wait() {
        tr.reset();
        wa.reset();
        wa.play();
    }

    $("#online-users-svg path").attr("d", describeArc(100,100, 85, 0, 210));
    $("#RAM-usage-svg path").attr("d", describeArc(100,100, 85, 0, 210));

    new Vivus('online-users-svg', {duration: 50}, myCallback);
    new Vivus('RAM-usage-svg', {duration: 30}, myCallback);
    //new Vivus('status-svg', {duration: 50}, myCallback);
    //new Vivus('stop', {duration: 30 , type:"sync"}, rev);
    var wa = new Vivus('stop', {duration: 30 , type:"sync", start:"manual"}, trig_rev);
    var tr = new Vivus('stop-rev', {duration: 30 , type:"sync", start:"manual"}, trig_wait);
    trig_wait();
    //v = new Vivus('stop-rev', {duration: 30 , type:"sync", start:"manual"});
    //vv = new Vivus('stop', {duration: 30 , type:"sync", start:"manual"});

    /*v.reset();
    vv.play(function () {
        v.play(function () {
            vv.reset();
            v.reset();
            vv.play(function () {
                v.play();
            });
        });
    });*/
    </script>
    <button class="corner"><i class="ion-ios-play" style="margin-left:4px;/*to make it more 'in center'*/"></i></button>
{% endblock %}
<!--import jquery upload file js lib -->

