{% extends "server_inst/_layout.html" %}
{% block content %}
    <section class="content-header">
        <br>
        <h1>FTP帐户</h1>
        <div>
            <span class="instruction">
            </span>
        </div>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-4">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">账户信息</h3>

                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" type="button" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table no-margin">
                                <tbody>
                                    <tr>
                                        <td>账户名</td>
                                        <td>{{ ftp_account_name }}</td></tr>
                                    <tr>
                                        <td>FTP密码</td>
                                        <td>（与登录密码相同）</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
<!--import jquery upload file js lib -->
