{% extends "server_inst/_layout.html" %}
{% block content %}

    <section class="mobile-header-bar">
        <span class="left-arrow"><i class="ion-ios-arrow-left"></i></span>
        <span class="select_menu">
            <span class="text">Hello 为什么</span><i class="ion-arrow-down-b"></i>
                <div class="dropdown">
                Hello <br>
                Hello
                </div>

        </span>
        <span class="right-arrow"><i class="ion-ios-arrow-right"></i>
        </span>
    </section>

    <section class="content">
        <div class="inst-sel-bar">
            Hello world
        </div>

        <div class="inst-content">
            <!-- first row (with instance status and instance info)-->
            <!-- second row (with login users and graph (still under consideration))-->
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-solid">
                      <div class="box-header with-border">
                        <i class="fa fa-warning"></i>
                        <h3 class="box-title">Alerts 天杀的</h3>
                      </div>
                        <div class="box-body">
                            He
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="box box-solid">
                        <div class="box-header with-border">
                            <i class="fa fa-warning"></i>
                            <h3 class="box-title">Alerts2 杨神好</h3>
                        </div>
                        <div class="box-body">
                            He2
                        </div>
                  </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}
<!--import jquery upload file js lib -->
