{% extends "server_inst/_layout.html" %}
{% block title %}新的世界{% endblock %}
{% block script %}
    <link rel="stylesheet" href="/static/css/new_inst.style.css">
    <link rel="stylesheet" href="/static/css/quill.snow.css">
    <script src="/static/js/quill.min.js"></script>
{% endblock %}
{% block content %}

    <section class="mobile-header-bar">
        <ul class="steps" id="vue-steps">
            <li>
                <a href="#conf_1"><span class="text">基本配置</span></a>
                <div  v-if="index == 0" class="mark-line" v-cloak>
                    <div class="small-arrow"></div>
                </div>
            </li>
            <li>
                <a href="#conf_2">
                    <span class="text">世界属性</span>
                </a>
                <div  v-if="index == 1" class="mark-line" v-cloak>
                    <div class="small-arrow"></div>
                </div>
            </li>
            <li>
                <a href="#conf_3">
                    <span class="text">杂项</span>
                </a>
                <div  v-if="index == 2" class="mark-line" v-cloak>
                    <div class="small-arrow"></div>
                </div>
            </li>
        </ul>
    </section>

    <section class="content">
        <div class="row">

            <div class="step-sel-bar">
                <div class="step-sel" id="vue-steps-desktop">
                    <div>
                        <a href="#conf_1" v-bind:class="{selected: (index == 0)}"> 基本配置</a>
                    </div>
                    <div>
                        <a href="#conf_2" v-bind:class="{selected: (index == 1)}"> 世界属性</a>
                    </div>
                    <div>
                        <a href="#conf_3" v-bind:class="{selected: (index == 2)}"> 杂项</a>
                    </div>
                </div>
            </div>

            <div class="step-content" id="step-content">

                <div class="row step_box" v-if="index == 0">
                    <div class="col-md-10 col-lg-6 max-width-limit" id="basic_config_box">
                        <div class="box box-solid">
                            <div class="box-body margin-s">
                                <div class="setting-item"><span class="item-text"><i class="red-star"></i>世界名称</span>
                                    <span class="input-element">
                                        <input type="text" class="form-control" placeholder="我的世界" @blur="world_name_bl" @focus="world_name_fs" v-model="data_world_name">
                                        &nbsp;&nbsp;&nbsp;
                                        <span class="assert-input">
                                            <i v-if="world_name_assert == 1" class="ion-android-done"></i>
                                            <i v-if="world_name_assert == 0" class="ion-android-close"></i>
                                        </span>

                                        <span v-if="world_name_assert == 0" class="error-hint">世界名不得为空，或不得重名！</span>
                                    </span>
                                </div>

                                <div class="setting-item"><span class="item-text"><i class="red-star"></i>玩家上限</span>
                                    <span class="input-element">
                                        <input type="range" min="1" max="10" step="1" list="tickmarks" v-model="range_players">
                                        <datalist id="tickmarks">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                        </datalist>
                                        <input type="number" v-model="number_players">
                                    </span>
                                </div>
                                <div class="setting-item"><span class="item-text"><i class="red-star"></i>内存上限</span>
                                    <span class="input-element">
                                        <input type="range" min="1" max="6" step="1" list="RAMs" v-model="range_RAM">
                                        <datalist id="RAMs">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                        </datalist>
                                        <input type="number" style="width:18%" v-model="number_RAM" >&nbsp;&nbsp;<span>G</span>
                                    </span>
                                </div>
                                <div class="setting-item"><span class="item-text"><i class="red-star"></i>服务器核心</span>
                                    <span class="input-element">
                                        <select name="core_file_id" class="form-control">
                                            {% for item in server_cores %}
                                            <option value="{{ item }}">{{ server_cores[item] }}</option>
                                            {% endfor %}
                                        </select>&nbsp;&nbsp;&nbsp;<a href="/super_admin/server_core">添加核心</a>
                                    </span>
                                </div>
                                <div class="setting-item"><span class="item-text"><i class="red-star"></i>Java 版本</span>
                                    <span class="input-element">
                                        <select name="java_bin_id" class="form-control">
                                            {% for item in java_versions %}
                                            <option value="{{ item }}">{{ java_versions[item] }}</option>
                                            {% endfor %}
                                        </select>&nbsp;&nbsp;&nbsp;<a href="/super_admin/java_binary">添加Java版本</a>
                                    </span>
                                </div>

                                <div class="setting-item"><span class="item-text"><i class="red-star"></i>侦听端口</span>
                                    <span class="input-element">
                                        <input type="number" max="65535" min="1" style="width: 40%;" @focus="port_fs" @blur="port_bl" v-model="data_port">
                                        &nbsp;&nbsp;&nbsp;
                                        <span class="assert-input">
                                            <i v-if="port_assert == 1" class="ion-android-done"></i>
                                            <i v-if="port_assert == 0" class="ion-android-close"></i>
                                        </span>

                                        <span v-if="port_assert == 0" class="error-hint">端口须在1-65535之间</span>
                                    </span>
                                </div>

                                <div class="setting-item text-right">
                                    <button class="btn btn-info" :disabled="!basic_config_next_button" @click="next_to_2">下一步</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- server.properties-->
                <div class="row step_box" v-if="index == 1">
                    <div class="col-md-10 col-lg-6 max-width-limit">
                        <div class="box box-solid">
                            <div class="box-body">
                                <div class="setting-item"><span class="item-text"><i class="red-star"></i>正版验证</span>
                                    <span class="input-element">
                                        <select name="online-mode" class="form-control">
                                            <option value="1">开启</option>
                                            <option value="0">关闭</option>
                                        </select>
                                    </span>
                                </div>

                                <div class="setting-item"><span class="item-text">PVP模式</span>
                                    <span class="input-element">
                                        <select name="core_file_id" class="form-control">
                                            <option value="1">开启</option>
                                            <option value="1">关闭</option>
                                        </select>
                                    </span>
                                </div>

                                <div class="setting-item"><span class="item-text">游戏难度</span>
                                    <span class="input-element">
                                        <select name="core_file_id" class="form-control">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </span>
                                </div>

                                <div class="setting-item"><span class="item-text">怪物生成</span>
                                    <span class="input-element">
                                        <select name="core_file_id" class="form-control">
                                            <option value="1">开启</option>
                                            <option value="0">关闭</option>
                                        </select>
                                    </span>
                                </div>

                                <div class="setting-item"><span class="item-text">生成下界</span>
                                    <span class="input-element">
                                        <select name="core_file_id" class="form-control">
                                            <option value="1">开启</option>
                                            <option value="0">关闭</option>
                                        </select>
                                    </span>
                                </div>

                                <div class="setting-item">
                                    <span class="des">注： 其他配置可在 server.properties 文件中修改。</span>
                                </div>
                                <div class="setting-item text-right">
                                    <a href="#conf_1" class="btn btn-default">上一步</a>&nbsp;&nbsp;&nbsp;<a href="#conf_3" class="btn btn-info">下一步</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row step_box" v-if="index == 2">
                    <div class="col-md-10 col-lg-6 max-width-limit">
                        <div class="box box-solid">
                            <div class="box-body">

                                <div class="setting-item"><span class="item-text">LOGO</span>
                                    <span class="input-element">
                                        <span id="show-instance-logo">
                                            <img src="/static/img/TEST-LOGO.jpg" alt="hehe">
                                        </span>&nbsp;&nbsp;
                                        <button class="btn btn-info">上传图片</button>
                                    </span>
                                </div>

                                <div class="setting-item"><span class="item-text">每日讯息</span>
                                    <span class="input-element">
                                        <div name="motd-editor" id="motd-editor"></div>
                                    </span>
                                </div>

                                <div class="setting-item"><span class="item-text">FTP 账户</span>
                                    <span class="input-element">
                                        <input type="text" class="form-control">
                                    </span>
                                </div>

                                <div class="setting-item"><span class="item-text">FTP 密码</span>
                                    <span class="input-element">
                                        <div class="mask">
                                            <span class="mask-text">&lt;与登录密码相同&gt;</span>
                                        </div>
                                        <input type="password" class="form-control">&nbsp;<input type="checkbox"><span class="">使用登录密码</span>
                                    </span>
                                </div>

                                <div class="setting-item text-right">
                                    <a href="#conf_2" class="btn btn-default">上一步</a>&nbsp;&nbsp;&nbsp;<button class="btn btn-info">完成</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <script>
    </script>
{% endblock %}
<!--import jquery upload file js lib -->
