{% extends "server_inst/_layout.html" %}
{% block title %}新的世界{% endblock %}
{% block script %}
    <link rel="stylesheet" href="/static/css/new_inst.style.css">
{% endblock %}
{% block content %}

    <section class="mobile-header-bar">
        <ul class="steps">
            <li>
                <span class="text">基本配置</span>
                <div class="mark-line">
                    <div class="small-arrow"></div>
                </div>
            </li><li><span class="text">世界属性</span></li><li><span class="text">杂项</span></li>
        </ul>
    </section>

    <section class="content">
        <div class="row">

            <div class="step-sel-bar">
                <div class="step-sel">
                    <div>
                        <a href="#conf_1" class="selected"> 基本配置</a>
                    </div>
                    <div>
                        <a href="#conf_2"> 世界属性</a>
                    </div>
                    <div>
                        <a href="#conf_3"> 杂项</a>
                    </div>
                </div>
            </div>

            <div class="step-content">
                <div class="row">
                    <div class="col-md-10 col-lg-6 max-width-limit">
                        <div class="box box-solid">
                            <div class="box-body margin-s">
                                <div class="setting-item"><span class="item-text"><i class="red-star"></i>玩家上限</span>
                                    <span class="input-element">
                                        <input type="range">
                                        <input type="number">
                                    </span>
                                </div>
                                <div class="setting-item"><span class="item-text"><i class="red-star"></i>内存上限</span>
                                    <span class="input-element">
                                        <input type="range">
                                        <input type="number" style="width:18%">&nbsp;&nbsp;<span>G</span>
                                    </span>
                                </div>
                                <div class="setting-item"><span class="item-text"><i class="red-star"></i>服务器核心</span>
                                    <span class="input-element">
                                        <select name="core_file_id" id="file_select" class="form-control">
                                            <option value="0">Bukkit</option>
                                            <option value="1">Spigot</option>
                                        </select>
                                    </span>
                                </div>
                                <div class="setting-item"><span class="item-text"><i class="red-star"></i>Java 版本</span>
                                    <span class="input-element">
                                        <select name="java_bin_id" id="file_select" class="form-control">
                                            <option value="0">JAVA 7</option>
                                            <option value="1">JAVA 8</option>
                                        </select>
                                    </span>
                                </div>

                                <div class="setting-item"><span class="item-text"><i class="red-star"></i>侦听端口</span>
                                    <span class="input-element">
                                        <input type="number" style="width: 40%;">
                                    </span>
                                </div>

                                <div class="setting-item text-right">
                                    <button class="btn btn-info">下一步</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- server.properties-->
                <div class="row">
                    <div class="col-md-10 col-lg-6 max-width-limit">
                        <div class="box box-solid">
                            <div class="box-body">
                                <div class="setting-item"><span class="item-text"><i class="red-star"></i>正版验证</span>
                                    <span class="input-element">
                                        <select name="online-mode" class="form-control">
                                            <option value="1">开启</option>
                                            <option value="0">关闭</option>
                                        </select>
                                    </span>
                                </div>

                                <div class="setting-item"><span class="item-text">PVP模式</span>
                                    <span class="input-element">
                                        <select name="core_file_id" class="form-control">
                                            <option value="1">开启</option>
                                            <option value="1">关闭</option>
                                        </select>
                                    </span>
                                </div>

                                <div class="setting-item"><span class="item-text">游戏难度</span>
                                    <span class="input-element">
                                        <select name="core_file_id" class="form-control">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </span>
                                </div>

                                <div class="setting-item"><span class="item-text">怪物生成</span>
                                    <span class="input-element">
                                        <select name="core_file_id" class="form-control">
                                            <option value="1">开启</option>
                                            <option value="0">关闭</option>
                                        </select>
                                    </span>
                                </div>

                                <div class="setting-item"><span class="item-text">生成下界</span>
                                    <span class="input-element">
                                        <select name="core_file_id" class="form-control">
                                            <option value="1">开启</option>
                                            <option value="0">关闭</option>
                                        </select>
                                    </span>
                                </div>

                                <div class="setting-item">
                                    其他配置可在serer.properties文件中修改。
                                </div>
                                <div class="setting-item text-right">
                                    <button class="btn btn-default">上一步</button>&nbsp;&nbsp;&nbsp;<button class="btn btn-info">下一步</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10 col-lg-6 max-width-limit">
                        <div class="box box-solid">
                            <div class="box-body">
                                <div class="setting-item"><span class="item-text"><i class="red-star"></i>世界名称</span>
                                    <span class="input-element">
                                        <input type="text" class="form-control">
                                    </span>
                                </div>

                                <div class="setting-item"><span class="item-text">LOGO</span>
                                    <span class="input-element">
                                        ***
                                    </span>
                                </div>

                                <div class="setting-item"><span class="item-text">欢迎词</span>
                                    <span class="input-element">
                                        ***
                                    </span>
                                </div>

                                <div class="setting-item"><span class="item-text">FTP 账户</span>
                                    <span class="input-element">
                                        <input type="text" class="form-control">
                                    </span>
                                </div>

                                <div class="setting-item"><span class="item-text">FTP 密码</span>
                                    <span class="input-element">
                                        <input type="password" class="form-control">
                                    </span>
                                </div>

                                <div class="setting-item text-right">
                                    <button class="btn btn-default">上一步</button>&nbsp;&nbsp;&nbsp;<button class="btn btn-info">完成</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
<!--import jquery upload file js lib -->
