broker:
  listen_port: 852
circus:
  end_port: 853
ftp:
  listen_port: 21
global:
  log_file: /var/log/ob-panel.log
  zhao: 1
server:
  host: 0.0.0.0
  listen_port: 80
  use_reloader: false
redis:
  listen_port: 851
