<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>初始化 - 数据库</title>
    <!-- Material Design fonts -->
    <!--<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Admin LTE-->
    <link rel="stylesheet" href="/static/css/AdminLTE.min.css">
    <!--jquery-->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/static/css/ionicons.min.css">
    <!-- Bootstrap Material Design -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-material-design.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/ripples.min.css">

    <link rel="stylesheet" href="/static/css/skins/skin-blue.min.css">

    <script src="/static/js/material.min.js"></script>
    <script src="/static/js/ripples.min.js"></script>
    <script src="/static/js/vue.min.js"></script>

    <script>
      var AdminLTEOptions = {
        //Enable sidebar expand on hover effect for sidebar mini
        //This option is forced to true if both the fixed layout and sidebar mini
        //are used together
        sidebarExpandOnHover: true,
        //BoxRefresh Plugin
        enableBoxRefresh: true,
        //Bootstrap.js tooltip
        enableBSToppltip: true
      };

      $.material.init();
    </script>

    <style>
        #reg-box-msg{
            padding-bottom:0;
        }

        div.form-group{
            margin-top: 0 !important;
        }

        div.radio label{
            color: #1a2226 !important;
        }

        p.hint-msg{
            text-align: center;
            font-size:16px;
        }

        div.login-box{
            width: 400px;
        }
    </style>

    <script>
        $(document).ready(function () {
            var vm = new Vue({
                el:"#java-form"
            });
        });
    </script>
</head>

<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <b>Obsidian</b> Panel
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg" id="reg-box-msg">
        <b>STEP 2</b>: JAVA 环境设置
    </p>
      <hr>

    <form action="/start/?step=3" method="post" id="java-form">

        <div class="row">
            <div class="col-xs-12 hint-msg" >
                <p class="hint-msg">未检测到java环境，是否现在安装之？</p>
                <p class="hint-msg"><button type="button" class="btn btn-raised btn-sm">安装java环境</button></p>
            </div>
        </div>
        <div class="form-group">
            <div class="radio"><label>
                <input type="radio" name="java_env" value="sys_java" checked="">
                <span class="circle"></span><span class="check"></span>
                  java (/usr/bin/java)
                </label>
            </div>

            <div class="radio"><label>
                <input type="radio" name="java_env" value="jdk_8u92">
                <span class="circle"></span><span class="check"></span>
                  jdk 8u92
                </label>
            </div>

            <div class="radio"><label>
                <input type="radio" name="java_env" value="jdk_8u101">
                <span class="circle"></span><span class="check"></span>
                  jdk 8u101
                </label>
            </div>
        </div>
      <div class="row">
          <div class="col-xs-12">
              <div style="text-align: right;"><a href="/start/?step=3">跳过此步骤</a></div>
          </div>
        <div class="col-xs-4">
        </div>
        <!-- /.col -->
          <div class="col-xs-8" style="text-align:right;">
              <button type="submit" class="btn btn-raised btn-info">下一步</button>
          </div>
        <!-- /.col -->
      </div>
    </form>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

</body>
<script>
    $.material.init();
</script>
</html>
