button.corner{
    display: none;
}
/*hide logo on mobile device*/
@media (max-width: 767px) {
    header.main-header a.logo{
        display: none;
    }

    .fixed div.content-wrapper{
        padding-top:50px !important;
    }

    .main-sidebar, .left-side{
        padding-top:50px !important;
    }
}

/*on desktop*/
section.mobile-header-bar{
    display: none;
}

/*including max-width: 767px :-)*/
@media (max-width: 1200px){
    section.content div.inst-sel-bar{
        display: none;
    }

    button.corner{
        position: fixed;
        bottom:30px;
        right:20px;
        border:none;
        margin: 0;
        outline: none;
        display: block;
        width:60px;
        box-shadow:1px 1px 3px gray;
        height:60px;
        background-color: blueviolet;
        color: white;
        border-radius: 30px;
        line-height: 60px;
        text-align: center;
        z-index:200;
    }

    section.mobile-header-bar{
        height: 40px;
        background-color: ghostwhite;
        border-bottom: 1px solid lightgrey;
        display: block;
        text-align: center;
    }

    section.mobile-header-bar span.left-arrow,
    section.mobile-header-bar span.select_menu,
    section.mobile-header-bar span.right-arrow
    {
        line-height: 40px;
        font-size: 20px;
        display: inline-block;
        position:relative;
    }

    section.mobile-header-bar span.left-arrow{
        padding-left:10px;
        float:left;
    }

    section.mobile-header-bar span.right-arrow{
        margin-right:0;
        padding-right: 10px;
        float:right;
    }

    section.mobile-header-bar span.select_menu {
        height: 36px;
        margin-top:-2px;
        font-size:14px;
        text-decoration: none;
        box-sizing: border-box;
        border-bottom: 2px solid darkgreen;
    }

    span.select_menu span.text{
        line-height: 40px;
        display:inline-block;
        margin-right:10px;
    }

    span.select_menu div.dropdown{
        overflow-y:hidden;
        /*height:100px;*/
        height:10px;
        background-color: white;
        margin-top:1px;
        box-sizing: border-box;
        border-top:1px solid lightgray;
        box-shadow: 1px 1px 3px #ccc;
        z-index: 10;
        -webkit-transition: height 300ms;
        -moz-transition: height 300ms;
        -ms-transition: height 300ms;
        -o-transition: height 300ms;
        transition: height 300ms;
    }

}

@media (min-width: 1201px){
    section.content{
        position: relative;
    }

    div.inst-sel-bar{
        width:240px;
        height:100%;
        float:left;
        display: block;
    }

    div.inst-content{
        float:left;
        padding-left:240px;
        width:100%;
    }
}

 /*circle loop*/
@-webkit-keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
}
@keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
}
.progress {
    position: relative;
    display: inline-block;
    padding: 0;
    text-align: center;
    height: 15rem;
    width: 100%;
    background-color: transparent;
}
.progress > li {
    display: inline-block;
    position: relative;
    text-align: center;
    font-weight: 100;
    width:33.33%;
    height: 100%;
    vertical-align: top;
}
.progress .pg-main{
    width: 10rem;
    height: 10rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.progress svg {
    width: 100%;
    height: 100%;
    fill:none;
}

div.central-number{
    font-size:18px;
    position: absolute;
    line-height: 25px;
    text-align: center;
}
/*online users*/
div#online-num{
    top:27px;
    left:34px;
}

div#divider{
    top:36px;
    left:36px;
    font-size: 25px;
}

div#total-num{
    top:54px;
    left:47px;
}

div#RAM-percent{
    position: absolute;
    line-height: 25px;
    top:35px;
    left: 20px;
    text-align: center;
    font-size: 25px;
    width:2em;
}

div#RAM-percent-mark{
    position: absolute;
    line-height: 25px;
    top:42px;
    left:60px;
    font-size:13px;
    text-align: center;
}