button.corner{
    display: none;
}
/*hide logo on mobile device*/
@media (max-width: 767px) {
    header.main-header a.logo{
        display: none;
    }

    .fixed div.content-wrapper{
        padding-top:50px !important;
    }

    .main-sidebar, .left-side{
        padding-top:50px !important;
    }
}

/*on desktop*/
section.mobile-header-bar{
    display: none;
}

/*including max-width: 767px :-)*/
@media (max-width: 1200px){
    section.content div.inst-sel-bar{
        display: none;
    }

    button.corner{
        position: fixed;
        bottom:30px;
        right:20px;
        border:none;
        margin: 0;
        outline: none;
        display: block;
        width:60px;
        box-shadow:1px 1px 3px gray;
        height:60px;
        background-color: blueviolet;
        color: white;
        border-radius: 30px;
        line-height: 60px;
        text-align: center;
        z-index:200;
        font-size: 35px;
    }

    button.corner[disabled]{
        background-color: #be8aef; /*just change Lightness of `blueviolet`*/
    }

    section.mobile-header-bar{
        height: 40px;
        background-color: ghostwhite;
        border-bottom: 1px solid lightgrey;
        display: block;
        text-align: center;
    }

    section.mobile-header-bar span.left-arrow,
    section.mobile-header-bar span.select_menu,
    section.mobile-header-bar span.right-arrow
    {
        line-height: 40px;
        font-size: 20px;
        display: inline-block;
        position:relative;
    }

    section.mobile-header-bar span.left-arrow{
        padding-left:10px;
        float:left;
    }

    section.mobile-header-bar span.right-arrow{
        margin-right:0;
        padding-right: 10px;
        float:right;
    }

    section.mobile-header-bar span.select_menu {
        height: 36px;
        margin-top:-2px;
        font-size:14px;
        text-decoration: none;
        box-sizing: border-box;
        border-bottom: 2px solid darkgreen;
        cursor: pointer;
    }

    span.select_menu span.text{
        line-height: 40px;
        display:inline-block;
        margin-right:10px;
    }

    span.select_menu div.dropdown{
        overflow-y:hidden;
        /*height:100px;*/
        height:0;
        background-color: white;
        margin-top:1px;
        box-sizing: border-box;
        border-top:1px solid lightgray;
        box-shadow: 1px 1px 3px #ccc;
        z-index: 10;
    }

    span.select_menu div.dropdown.expand{
        height: auto;
    }

    div.dropdown div.padding{
        height: 10px;
    }

    i.dropdown-mark{
        position: absolute;
        right: 0;
        -webkit-transition: all 300ms;
        -moz-transition: all 300ms;
        -ms-transition: all 300ms;
        -o-transition: all 300ms;
        transition: all 300ms;
    }

    i.dropdown-mark.transform{
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    div.dropdown a{
        display: block;
        height: 35px;
        padding-left: 2em;
        padding-right: 2em;
        color: black;
        line-height: 35px;
        width: 100%;
        text-align: center;
    }

    div.dropdown a:hover{
        background-color: #e2e2e2;
    }
}

@media (min-width: 1201px){
    section.content{
        position: relative;
        margin-top: 18px;
    }

    div.inst-sel-bar{
        width:220px;
        height:0;
        float:left;
        display: block;
        padding-left:20px;
        position: relative;
        z-index: 20;
    }

    div.inst-content{
        float:left;
        padding-left:220px;
        width:100%;
        z-index: 10;
    }

    div.inst-sel-bar div.inst-sel{
        width:100%;
        border-right:1px solid #ccc;
        padding-bottom: 10px;
        z-index: 20;
    }

    div.inst-sel a{
        display: inline-block;
        width:170px;
        line-height: 30px;
        height:30px;
        color: black;
        font-size:1.5rem;
        padding-left:0.8rem;
        margin: 0;
        margin-left: 0.2rem;
    }

    div.inst-sel span.star{
        display: inline-block;
        width:18px;
        text-align: center;
        font-size: 21px;
        vertical-align: bottom;
        line-height: 30px;
    }

    div.inst-sel a.selected{
        color:white;
        background-color: mediumpurple;
    }

    div.inst-sel a:hover{
        text-decoration: underline;
    }
}
span.new_inst_txt{
    color: #555;
}
 /*circle loop*/
@-webkit-keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
}
@keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
}
.progress {
    position: relative;
    display: inline-block;
    padding: 0;
    text-align: center;
    height: 180px;
    width: 100%;
    background-color: transparent;
}
.progress > li {
    display: inline-block;
    position: relative;
    text-align: center;
    width:33.33%;
    height: 100%;
    vertical-align: top;
}
.progress .pg-main{
    width: 10rem;
    height: 10rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.progress svg {
    width: 100%;
    height: 100%;
    fill:none;
}

div.central-number{
    font-size:18px;
    position: absolute;
    line-height: 25px;
    text-align: center;
}

span.em_2_text{
    width: 2em;
    display: inline-block;
}
/*online users*/
div#online-num{
    top:28px;
    left:20px;
    width:2em;
    color: blue;
}

div#divider{
    top:37px;
    left:37px;
    font-size: 25px;
}

div#total-num{
    top:50px;
    left:42px;
    width:2em;
    color: blue;
}

div.pg-info span.hint-text{
    color:gray;
    font-size: 13px;
}
div#RAM-percent{
    position: absolute;
    line-height: 25px;
    top:35px;
    left: 20px;
    text-align: center;
    font-size: 25px;
    width:2em;
    color: red;
}

div#RAM-percent-mark{
    position: absolute;
    line-height: 25px;
    top:42px;
    left:60px;
    font-size:13px;
    text-align: center;
}

div.pg-main #stop-rev{
    position: relative;
    top: -105px;
}

/*instance info (general and game-specific) table style*/
table#inst-info-table tr td{
    padding-right: 1.5rem;
    vertical-align: middle;
    box-sizing: border-box;
}

table#inst-info-table tr td:nth-child(1),
table#inst-info-table tr td:nth-child(3)
{
    text-align: right;
    font-weight: bold;
    width: 15%;
}


table#inst-info-table tr td:nth-child(2),
table#inst-info-table tr td:nth-child(4)
{
    width: 35%;
}

table#inst-info-table tr td:nth-child(2){
    border-right: 1px solid #dadada;
}

span#show-instance-logo{
    display: inline-block;
    width:68px;
    height: 68px;
    padding:2px;
    border:1px solid #9f9f9f;
    border-radius: 2px;
    line-height: 68px;
}

span#show-instance-logo img{
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
}

span#motd{
    display: inline-block;
    max-width: 20rem;
}