/*hide logo on mobile device*/
@media (max-width: 767px) {
    header.main-header a.logo{
        display: none;
    }

    .fixed div.content-wrapper{
        padding-top:50px !important;
    }

    .main-sidebar, .left-side{
        padding-top:50px !important;
    }
}

/*on desktop*/
section.mobile-header-bar{
    display: none;
}

/*including max-width: 767px :-)*/
@media (max-width: 767px) {
    section.content div.step-sel-bar {
        display: none;
    }

    section.mobile-header-bar{
        height: 50px;
        background-color: transparent;
        display: block;
        text-align: center;
    }

    section.mobile-header-bar ul.steps{
        display: block;
        padding: 0;
        margin:0;
        list-style: none;
        width:100%;
        height: 3em;
    }

    section.mobile-header-bar ul.steps li{
        width: 31%;
        display: inline-block;
        height:100%;
        margin:0;
        vertical-align: top;
        padding-top: 8px;
    }

    ul.steps div.mark-line{
        box-sizing: border-box;
        width:100%;
        margin:0;
        background-color: darkblue;
        height:3px;
        position: relative;
        text-align: center;
    }

    ul.steps div.small-arrow{
        content: "";
        vertical-align: top;
        width:0;
        height:0;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-top: 9px solid darkblue;
        box-sizing: border-box;
        display: inline-block;
    }

    ul.steps span.text{
        display: inline-block;
        height:28px;
        line-height:28px;
        font-size: 15px;
        color:#111111;
    }
    section.content{
        margin-left: 15px;
        margin-right: 15px;
    }

    span.input-element select{
        width:80%;
        display: inline-block;
    }

    span.input-element input[type="text"],
    span.input-element input[type="password"]{
        width: 90%;
        display: inline-block;
    }
}
@media (min-width: 768px){
    section.content{
        position: relative;
        margin-top: 18px;
    }

    div.step-sel-bar{
        width:300px;
        height:0;
        float:left;
        display: block;
        padding-left:75px;
        position: relative;
        z-index: 20;
    }

    div.step-content{
        float:left;
        padding-left:260px;
        width:100%;
        z-index: 10;
    }

    div.step-sel-bar div.step-sel{
        width:100%;
        padding-bottom: 10px;
        z-index: 20;
    }

    div.step-sel a{
        display: inline-block;
        width:170px;
        line-height: 30px;
        height:30px;
        color: #757575;
        font-size:1.5rem;
        padding-left:1rem;
        margin: 0;
        margin-left: 0.5rem;
        box-sizing: border-box;
    }

    div.step-sel a.selected{
        border-left: 0.5rem solid mediumpurple;
        margin-left:0;
    }

    div.step-sel a:hover{
        text-decoration: underline;
    }

    span.input-element select{
        width:60%;
        display: inline-block;
    }

    span.input-element input[type="text"],
    span.input-element input[type="password"]{
        width: 60%;
        display: inline-block;
    }
}

/*general settings style*/
div.box-body div.setting-item{
    width:100%;
    min-height: 4.5em;
    padding: 1em 2em 1em 0;
    display: inline-block;
}

div.max-width-limit{
    max-width: 560px;
}
div.margin-s{
    padding-top:1em;
    padding-bottom:1em;
}
div.setting-item span.item-text{
    position:relative;
    width: 30%;
    float:left;
    height:100%;
    display: inline-block;
    text-align: center;
    line-height: 2em;
}

span.input-element span.error-hint{
    display: inline-block;
    font-size: 0.9em;
    height: 0.8em;
    width:100%;
    line-height: 0.8em;
    color: red;
}

span.item-text i.red-star:after{
    content: "*";
    margin-right:0.4em;
    vertical-align: middle;
    color: red;
}
div.setting-item span.input-element{
    position:relative;
    width: 70%;
    float:left;
    height:100%;
    vertical-align: text-top;
    display: inline-block;
}

span.input-element input[type="range"]{
    display: inline-block;
    width: 60%;
    line-height: 3em;
    margin-right:4%;
    vertical-align: middle;
}

span.input-element input[type="number"]{
    display: inline-block;
    width: 24%;
    line-height: 2em;
    vertical-align: middle;
}

span.des{
    margin-left:2em;
    color: #666666;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}

/*assert input*/
span.assert-input{
    font-size: 18px;
    color: green;
    display: inline-block;
}

span.assert-input i{
    display: inline-block;
    line-height: 30px;
}

/* FTP password mask*/
span.input-element div.mask{
    position: absolute;
    width: 60%;
    height: 35px;
    background-color: rgba(255,255,255, 0.75);
    text-align: center;
}

span.input-element div.mask span.mask-text{
    font-size: 14px;
    line-height: 30px;
    display: inline-block;
    color: rgba(100,100,100,0.75);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*motd editor*/
#motd-editor{
    height: 8rem;
    font-size: 15px;
}

/* LOGO */
span#show-instance-logo{
    display: inline-block;
    width:70px;
    height: 70px;
    padding:2px;
    border:1px solid #9f9f9f;
    border-radius: 2px;
    line-height: 68px;
}

span#show-instance-logo img{
    width: 64px;
    height: 64px;
    display: block;
    position: absolute;
}

div#bottom-image{
    text-align: center;
    width: 64px;
    height: 64px;
    color: #aaaaaa;
    background-color: #f3f3f3;
    font-size: 12px;
    line-height: 64px;
    position: absolute;
}

div#upload-mask{
    position: absolute;
    width: 64px;
    height: 64px;
    background-color: rgba(255,255,255,0.6);
}

span.logo-ctrl{
    vertical-align: top;
    display: inline-block;
    max-width:60%;
}

span.hint-text{
    font-size: 12px;
    margin-top: 1em;
    display: inline-block;
    color: gray;
}

a{
    cursor: pointer;
}