/*Author: Nigshoxiz 2016.9.19*/
[v-cloak]{
    display: none;
}

span.control-btn{
    display: inline-block;
    line-height: 2.4em;
}

/*box title*/
.box-header .box-title{
    font-size: 16px !important;
}
/*hide logo on mobile device*/
@media (max-width: 767px) {
    header.main-header a.logo{
        display: none;
    }

    .fixed div.content-wrapper{
        padding-top:50px !important;
    }

    .main-sidebar, .left-side{
        padding-top:50px !important;
    }
}