<a href="#" class="logo">
    <!-- LOGO -->
    <b>Obsidian</b> Panel
</a>
<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top" role="navigation">
  <a href="#" class="sidebar-toggle" role="button" data-toggle="offcanvas"><span class="sr-only"></span></a>

  <!-- Navbar Right Menu -->
  <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
          <li>
              <a class="bottom" title="" id="_logout" data-placement="bottom" data-toggle="tooltip" href="#" data-original-title="退出">
                  <i class="fa fa-power-off"></i>
              </a>
          </li>
          <li><span>&nbsp;&nbsp;&nbsp;</span></li>
      </ul>
  </div>
</nav>