{% extends "superadmin/_layout.html" %}
{% block title %}文件备份{% endblock %}
{% block script %}
    <script src="/static/js/jq_f_up/jquery.ui.widget.js"></script>
    <script src="/static/js/jq_f_up/jquery.iframe-transport.js"></script>
    <script src="/static/js/jq_f_up/jquery.fileupload.js"></script>
{% endblock %}

{% block content %}
    <section class="content-header">
        <br>
        <h1>Java版本管理</h1>
        <div>
            <span class="instruction">
                Java 可执行文件的版本下载及管理。
            </span>
        </div>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-4">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Java版本</h3>

                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" type="button" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table no-margin">
                                <thead>
                                    <tr>
                                        <th>Java版本</th>
                                        <th>安装时间</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
<!--import jquery upload file js lib -->
{% block footer %}

{% endblock %}