{% extends "superadmin/_layout.html" %}
{% block content %}
    <section class="content-header">
        <br>
        <h1>基本信息</h1>
        <div>
            <span class="instruction">
                服务器的一些基本信息
            </span>
        </div>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-6">
                <div class="box box-info">
                    <div class="box-header with-border">

                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" type="button" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table no-margin">
                                <tbody>
                                <tr><td>
                                    操作系统
                                </td><td></td></tr>
                                <tr><td>
                                    内存
                                </td><td></td></tr>
                                <tr><td>
                                    CPU信息
                                </td><td>

                                </td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
