{% extends "superadmin/_layout.html" %}
{% block content %}
    <section class="content-header">
        <br>
        <h1>服务器核心</h1>
        <div>
            <span class="instruction">
                运行Minecraft服务器的核心文件，通常为jar格式。<br>
                只有安装核心，才能创建一个Minecraft服务器实例。
            </span>
        </div>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-8">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">文件管理</h3>

                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" type="button" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table no-margin">
                                <thead>
                                    <tr>
                                        <th>文件名</th>
                                        <th>类型</th>
                                        <th>文件版本</th>
                                        <th>Minecraft版本</th>
                                        <th>文件大小</th>
                                        <th>说明 <sup><i class="fa fa-info-circle notice-icon"></i></sup></th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>spigot-v10-SNAPSHOT-1.7.10.jar</td>
                                    <td>Spigot</td>
                                    <td>v10-SNAPSHOT</td>
                                    <td>1.7.10</td>
                                    <td>24.22MB</td>
                                    <td>不帶forge</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- install-->
            <div class="col-xs-4">
                <!-- install core -->
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">安装核心</h3>

                        <div class="box-tools pull-right">

                            <button class="btn btn-box-tool" type="button">
                                <i class="fa fa-refresh"></i>
                            </button>

                            <button class="btn btn-box-tool" type="button" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <span class="instruction">Still working...</span>
                    </div>
                </div>

                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title">上传核心</h3>

                        <div class="box-tools pull-right">

                            <button class="btn btn-box-tool" type="button" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <form action="" class="form-horizontal" id="upload_core">
                    <div class="box-body">
                        <span class="instruction">上传自定义核心</span>
                        <p></p>

                        <div class="form-group">
                            <label for="choose_file" class="col-sm-3 control-label">
                                选择文件
                            </label>

                            <div class="input-group">
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" style="width:65%;" v-model="file_name">
                                    <span class="input-group-btn">
                                        <label class="btn btn-default btn-file">
                                            浏览 <input type="file" style="display: none;" @change="on_file_change" id="_upload_core_file">
                                        </label>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- core file type-->
                            <div class="form-group">
                                <label for="file_select" class="col-sm-3 control-label">核心类型</label>
                                <div class="col-sm-6">
                                    <select name="" id="file_select" class="form-control" v-model="core_type">
                                        <option value="bukkit">Bukkit</option>
                                        <option value="spigot">Spigot</option>
                                        <option value="vanilla" selected>Vanilla</option>
                                        <option value="forge">Forge</option>
                                        <option value="mcpc+">MCPC+</option>
                                        <option value="kcauldron">KCauldron</option>
                                        <option value="thermos">Thermos</option>
                                        <option value="other">其他</option>
                                    </select>
                                </div>
                            </div>
                        <!-- file version -->
                        <div class="form-group">
                            <label for="file_version" class="control-label col-sm-3" >
                                版本
                            </label>

                            <div class="col-md-6 col-lg-6 col-sm-offset-0">
                                <input type="text" class="form-control" id="file_version" v-model="file_version"/>
                            </div>
                        </div>
                        <!-- Minecraft version -->
                        <div class="form-group">
                            <label for="mc_version" class="control-label col-sm-3">
                                <i class="red-multiple"></i> MC 版本
                            </label>

                            <div class="col-md-6 col-lg-6 col-sm-offset-0">
                                <input type="text" class="form-control" id="mc_version" v-model="mc_version"/>
                            </div>
                        </div>

                        <!-- description-->
                        <div class="form-group">
                            <label for="description" class="control-label col-sm-3">
                                说明
                            </label>

                            <div class="col-md-6 col-lg-6 col-sm-offset-0">
                                <textarea rows="3" class="form-control" id="description" v-model="description"> </textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <button class="btn btn-primary pull-right" :disabled="!allow_upload" v-on:click="upload_file" type="button">上传</button>
                            </div>

                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
<!--import jquery upload file js lib -->
{% block footer %}
    <script src="/static/js/jq_f_up/jquery.ui.widget.js"></script>
    <script src="/static/js/jq_f_up/jquery.iframe-transport.js"></script>
    <script src="/static/js/jq_f_up/jquery.fileupload.js"></script>
{% endblock %}